substitutions:
  name: serin-cn105
  friendly_name: "Serin Heat Pump Controller"
  # remote_temp_sensor: sensor.my_room_temperature  # Uncomment and set if using remote_temp

logger:
  level: INFO

api:

ota:
  - platform: esphome

dashboard_import:
  package_import_url: github://Serin-Labs/serin-cn105/esphome/serin_esp32s3.yaml
  import_full_config: false

external_components:
  - source: github://akifbayram/MitsubishiCN105ESPHome

packages:
  esp32s3: github://Serin-Labs/serin-cn105/esphome/common/esp32s3.yaml
  cn105: github://Serin-Labs/serin-cn105/esphome/common/cn105.yaml
  wifi: github://Serin-Labs/serin-cn105/esphome/common/wifi.yaml
  web_server: github://Serin-Labs/serin-cn105/esphome/common/web_server.yaml

  # To enable remote temperature sensor, uncomment the line below and set remote_temp_sensor above
  # remote_temp: github://Serin-Labs/serin-cn105/esphome/common/remote_temp.yaml